/* li, a{
    color: blue;
}

li:hover, a:hover{
    color: red;
} */



ul{
    list-style-type: none;
}


li:hover{
    font-weight: bold;
}


li {
    display: inline;
    margin: 5px;
    padding: 5px;
    width: 200px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

li, a{
    color: blue;
    text-decoration: none;

}

li:hover, a:hover{
    color: red;
}

