/* li, a{
    color: blue;
}

li:hover, a:hover{
    color: red;
} */



ul{
    list-style-type: none;
}


li:hover{
    font-weight: bold;
    background-color: white;
}

li:hover a {
    color: inherit;
}

li {
    background-color: black;
    margin: 5px;
    padding: 5px;
    width: 200px;
    /* border-color: blue; */
    border-style: solid;
    border-width: 2px;
}

a{
    color: white;
    text-decoration: none;
}
