/* li, a{
    color: blue;
}

li:hover, a:hover{
    color: red;
} */



ul{
    list-style-type: none;
}

li {
    margin: 5px;
    padding: 5px;
    width: 200px;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}